@model MenuDto
@inject MenuLocalizer _localizer
<main class="menu">
    <!-- Banner Start -->
    <section id="Menu-banner">
        <div class="banner-part">
            <div class="banner-content">
                <h3>Restaurant</h3>
                <h1>@_localizer.GetValue("Menu")</h1>
                <p>Juicy Flavours</p>
            </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- MenuPart Start -->
    <section id="Menu">
        <div class="container">
            <div class="row">
                <div class="menu1">
                    <div class="menu-left col-lg-4 col-12">
                        <div class="wrapper-img">
                            <img src="/assets/images/menu/img_10.jpg" alt="" />
                            <div class="overlay"></div>
                            <div class="wrapper-content">
                                <h3>Asparagus &amp; Halloumi Salad</h3>
                                <div class="empty">(250 G)</div>
                                <p>
                                    Beans / Halloumi cheese / Asparagus / Courgettes / Cherry
                                    tomatoes
                                </p>
                                <div class="price">18.90</div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-right col-lg-8 col-12">
                        <div class="inner-content">
                            <h5>Tasty</h5>
                            <h2>Starters</h2>
                            @{
                                //Starters yerine kateqoriya adi yazilacag, ve o kateqoriyada olan productlar gelecek asagida
                            }
                        </div>
                        <div class="menu-starter col-12">
                            <ul>
                                @foreach (var product in Model.Products)
                                {
                                    <li>
                                            <a asp-action="Details" asp-controller="Shop" asp-route-id="@product.Id">
                                            <div class="item-main">
                                                <h4>
                                                    @product.Name
                                                    <small>(250 G)</small>
                                                </h4>
                                            <div class="zn-priceList-dottedSeparator"></div>
                                            <div class="itemPrice">$@product.Price</div>
                                            </div>
                                            <div class="item-desc">
                                                @foreach (var ingredient in product.Ingredients)
                                                {
                                                    @ingredient.Name 
                                                }
                                            </div>
                                        </a>
                                    </li>

                                }
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="menu2">
                    <div class="menu-left col-lg-4 col-12">
                        <div class="wrapper-img">
                            <img src="/assets/images/menu/img_10.jpg" alt="" />
                            <div class="overlay"></div>
                            <div class="wrapper-content">
                                <h3>Asparagus &amp; Halloumi Salad</h3>
                                <div class="empty">(250 G)</div>
                                <p>
                                    Beans / Halloumi cheese / Asparagus / Courgettes / Cherry
                                    tomatoes
                                </p>
                                <div class="price">18.90</div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-right col-lg-8 col-12">
                        <div class="inner-content">
                            <h5>Tasty</h5>
                            <h2>Starters</h2>
                        </div>
                        <div class="menu-starter col-12">
                            <ul>
                                @foreach (var product in Model.Products)
                                {
                                    <li>
                                        <a asp-action="Details" asp-controller="Shop" asp-route-id="@product.Id">
                                            <div class="item-main">
                                                <h4>
                                                    @product.Name
                                                    <small>(250 G)</small>
                                                </h4>
                                            <div class="zn-priceList-dottedSeparator"></div>
                                            <div class="itemPrice">$@product.Price</div>
                                            </div>
                                            <div class="item-desc">
                                                @foreach (var ingredient in @product.Ingredients)
                                                {
                                                    @ingredient.Name 
                                                }
                                            </div>
                                        </a>
                                    </li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="menu1">
                    <div class="menu-left col-lg-4 col-12">
                        <div class="wrapper-img">
                            <img src="/assets/images/menu/img_10.jpg" alt="" />
                            <div class="overlay"></div>
                            <div class="wrapper-content">
                                <h3>Asparagus &amp; Halloumi Salad</h3>
                                <div class="empty">(250 G)</div>
                                <p>
                                    Beans / Halloumi cheese / Asparagus / Courgettes / Cherry
                                    tomatoes
                                </p>
                                <div class="price">18.90</div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-right col-lg-8 col-12">
                        <div class="inner-content">
                            <h5>Tasty</h5>
                            <h2>Starters</h2>
                        </div>
                        <div class="menu-starter col-12">
                            <ul>
                                @foreach (var product in Model.Products)
                                {
                                    <li>
                                        <a asp-action="Details" asp-controller="Shop" asp-route-id="@product.Id">
                                            <div class="item-main">
                                                <h4>
                                                    @product.Name
                                                    <small>(250 G)</small>
                                                </h4>
                                            <div class="zn-priceList-dottedSeparator"></div>
                                            <div class="itemPrice">$@product.Price</div>
                                            </div>
                                            <div class="item-desc">
                                                @foreach (var ingredient in @product.Ingredients)
                                                {
                                                    @ingredient.Name 
                                                }
                                            </div>
                                        </a>
                                    </li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="menu2">
                    <div class="menu-left col-lg-4 col-12">
                        <div class="wrapper-img">
                            <img src="/assets/images/menu/img_10.jpg" alt="" />
                            <div class="overlay"></div>
                            <div class="wrapper-content">
                                <h3>Asparagus &amp; Halloumi Salad</h3>
                                <div class="empty">(250 G)</div>
                                <p>
                                    Beans / Halloumi cheese / Asparagus / Courgettes / Cherry
                                    tomatoes
                                </p>
                                <div class="price">18.90</div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-right col-lg-8 col-12">
                        <div class="inner-content">
                            <h5>Tasty</h5>
                            <h2>Starters</h2>
                        </div>
                        <div class="menu-starter col-12">
                            <ul>
                                @foreach (var product in Model.Products)
                                {
                                        <li>
                                            <a asp-action="Details" asp-controller="Shop" asp-route-id="@product.Id">
                                                <div class="item-main">
                                                    <h4>
                                                    @product.Name
                                                        <small>(250 G)</small>
                                                    </h4>
                                                <div class="zn-priceList-dottedSeparator"></div>
                                                <div class="itemPrice">$@product.Price</div>
                                                </div>
                                                <div class="item-desc">
                                                @foreach (var ingredient in @product.Ingredients)
                                                {
                                                    @ingredient.Name 

                                                }

                                                </div>
                                            </a>
                                        </li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- MenuPart End -->
</main>
