@model ProductUpdateDto

<style>
    .image-box {
        position: relative;
        display: inline-block;
        border: 2px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        width: 150px;
        height: 150px;
        padding: 15px;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: rgba(255, 0, 0, 0.7);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 18px;
        width: 30px; 
        height: 30px; 
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: background-color 0.3s; 
    }

    .image-box:hover .close-button {
        display: flex;
    }

    .close-button:hover {
        background-color: rgba(255, 0, 0, 1); 
    }
</style>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Məhsulu dəyişdir
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">

                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">

                    <input asp-for="@Model.ProductDetails[0].LanguageId" value="1" type="hidden" />
                    <div class="form-group">
                        <label for="exampleInputUsername1 ">Azərbaycanca ad</label>
                        <input class="form-control productName" required asp-for="@Model.ProductDetails[0].Name" placeholder="Başlıq daxil edin">
                        <span asp-validation-for="@Model.ProductDetails[0].Name" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputUsername1 ">Azərbaycanca açıqlama</label>
                        <textarea class="form-control productDescription" id="description0" asp-for="@Model.ProductDetails[0].Description" placeholder="Açıqlama daxil edin"></textarea>
                        <span asp-validation-for="@Model.ProductDetails[0].Description" class="text-danger"></span>
                    </div>



                
                </div>

                <hr />
                <br />
                <br />

                <div class="form-group">

                    <input asp-for="@Model.ProductDetails[1].LanguageId" value="2" type="hidden" />
                    <div class="form-group">
                        <label for="exampleInputUsername1 ">İngiliscə ad</label>
                        <input class="form-control productName" required asp-for="@Model.ProductDetails[1].Name" placeholder="Başlıq daxil edin">
                        <span asp-validation-for="@Model.ProductDetails[1].Name" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputUsername1 ">İngiliscə açıqlama</label>
                        <textarea class="form-control productDescription" id="description1"  asp-for="@Model.ProductDetails[1].Description" placeholder="Açıqlama daxil edin"></textarea>
                        <span asp-validation-for="@Model.ProductDetails[1].Description" class="text-danger"></span>
                    </div>


                </div>

                <hr />
                <br />
                <br />

                <div class="form-group">

                    <input asp-for="@Model.ProductDetails[2].LanguageId" value="3" type="hidden" />
                    <div class="form-group">
                        <label for="exampleInputUsername1 ">Rusca ad</label>
                        <input class="form-control productName" required asp-for="@Model.ProductDetails[2].Name" placeholder="Başlıq daxil edin">
                        <span asp-validation-for="@Model.ProductDetails[2].Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputUsername1 ">Rusca açıqlama</label>
                        <textarea class="form-control productDescription" id="description2" asp-for="@Model.ProductDetails[2].Description" placeholder="Açıqlama daxil edin"></textarea>
                        <span asp-validation-for="@Model.ProductDetails[2].Description" class="text-danger"></span>
                    </div>


                </div>

                <hr />
                <br />
                <br />

                <div class="form-group">
                    <label>
                        Kateqoriyalar

                    </label>
                    <br />
                    <select class="form-select form-select-sm" asp-for="CategoryId" required>
                        <option value="@null" disabled selected>Kateqori seçin</option>
                        @foreach (var category in Model.Categories ?? new())
                        {
                            <option value="@category.Id">@category.Name</option>
                        }

                    </select>
                </div>

                <hr />
                <br />
                <br />


                <div class="form-group">
                    <label for="exampleInputUsername1">Əsas şəkili seçin</label>
                    <img src="@Model.MainImagePath" width="150" height="150" alt="MainImage" />
                    <input type="hidden" asp-for="MainImagePath" />
                    <input class="form-control" accept="image/*" asp-for="MainImage">
                    <span asp-validation-for="MainImage" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <div class="images">
                        <label for="exampleInputUsername1">İstəmədiyiniz şəkilləri silin</label>
                        <br />
                        @for (int i = 0; i < Model.ImagePaths.Count; i++)
                        {
                            var image = Model.ImagePaths[i];

                            <div class="image-box" id="imageBox">
                                <input type="hidden" asp-for="ImagePaths" value="@image" />
                                <input type="hidden" asp-for="ImageIds" value="@Model.ImageIds[i]" />
                                <img src="@image" alt="Şəkil" class="image">
                                <button class="close-button deleteImageBtn">x</button>
                            </div>
                        }
                        <hr />
                        <br />

                    </div>
                    <label for="exampleInputUsername1">Əlavə şəkilləri seçin</label>
                    <input class="form-control" accept="image/*" asp-for="Images">
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>



                <button type="submit" class="btn btn-primary mr-2">Dəyişdir</button>
                <a class="btn btn-light" asp-action="Index">Ləğv et</a>
            </form>
        </div>
    </div>
</div>
<script>

    const deleteImageButtons = document.querySelectorAll('.deleteImageBtn');

    deleteImageButtons.forEach(btn => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();

            btn.parentElement.remove();
        })
    })

</script>
