@model HomeDto
@inject AboutLocalizer _localizer
@inject MenuLocalizer _menuLocalizer

@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}

<main class="home">
    <section id="Home-banner" style="background-image: url( /assets/images/home/slide_02.jpg)">
        <div class="home-slider">
            <div class="slider-item">
                <img src="~/assets/images/home/slide_logo.png" alt="" />
                <span>Apple pie a la creme </span>
            </div>

        </div>
    </section>


    @{
        //about section start
    }
    <section id="Restaurant">
        <div class="container">
            <div class="row">
                <div class="part col-sm-12 col-md-6">
                    <div class="left-part">
                        <div style="margin-top: 80px;z-index: 99;position:relative"
                             class="multilayers-item margin-top-80 position-relative">
                            <div class="img-item">
                                <img src="@Model.About.ImagePath" alt="">
                            </div>
                        </div>
                        <div style="padding-left: 250px;" class="multilayers-item padding-left-250">
                            <div class="img-item">
                                <img src="@Model.About.ImagePath" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="part col-sm-12 col-md-6">
                    <div class="right-part">
                        <div class="section-title">
                            <h2>@_localizer.GetValue("Welcome at")</h2>
                            <h3>@_localizer.GetValue("Master Yaver's")</h3>
                        </div>
                        <h6 class="small-headline">
                            @Model.About.Name
                        </h6>
                        <p>
                            @Model.About.Description
                        </p>
                        <a href="#dannys" class="btn btn-primary scroll">@_localizer.GetValue("About us")</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="Menu">
        <div class="container">
            <div class="row">
                <div class="menu-left   col-sm-12 col-md-6">
                    <div class="menu-inner-left padding-right-90">
                        <div class="section-title">
                            <h2>@_menuLocalizer.GetValue("Restaurant")</h2>
                            <h3 style="color:white" class="white">@_menuLocalizer.GetValue("Menu")</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <p class="gray">
                                    @_menuLocalizer.GetValue("desc1")

                                </p>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <p class="gray">
                                    @_menuLocalizer.GetValue("desc2")

                                </p>
                            </div>
                        </div>
                        <a asp-controller="Menu" asp-action="Index" class="btn btn-secondary">@_menuLocalizer.GetValue("What’s on the menu?")</a>
                    </div>
                </div>

                <div class="menu-right  col-sm-12 col-md-6">
                </div>

            </div>
        </div>
    </section>
    <section id="Specialties">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="left-part">
                        <div style="margin-left:-120px;position:relative" class="multilayers-item">
                            <div class="image-item">
                                <img class="img-responsive" src="~/assets/images/home/specialties-img1.jpg" alt="">
                            </div>
                        </div>
                        <div style="padding-top: 275px;padding-left:80px; z-index:100" class="multilayers-item ">
                            <div class="image-item">
                                <img class="img-responsive" src="~/assets/images/home/specialties-img2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="right-part">
                        <div class="section-title">
                            <h2>@_menuLocalizer.GetValue("Variety")</h2>
                            <h3>@_menuLocalizer.GetValue("Blogs")</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <p>
                                    @_menuLocalizer.GetValue("desc3")

                                </p>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <p>
                                    @_menuLocalizer.GetValue("desc4")
                                </p>
                            </div>
                        </div>
                        <a asp-controller="Blog" asp-action="Index" class="btn btn-primary">@_menuLocalizer.GetValue("View all")</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Special-banner">
        <div class="overlay"></div>
        <div class="specialties-detail">
            <div class="main-part">
                <div class="writings">
                    <div class="section-title">
                        <h2>@_menuLocalizer.GetValue("In our venue")</h2>
                        <h3 class="white">@_menuLocalizer.GetValue("Today’s specialty")</h3>
                    </div>
                    <div class="specialties-over-detail">
                        <p>Oven Roasted duck with special sousage</p>
                        <span class="price">$25.00</span>
                        <a href="menu–stretched.html" class="btn read-more">@_menuLocalizer.GetValue("Read More")</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <section id="Menu-list">
        <div class="container">
            <div class="row">
                <div style="z-index: 200;" class="col-sm-12 col-md-3">
                    <div class="menu-list-left">
                        <div class="menu-list-title">
                            <h4>@_menuLocalizer.GetValue("Restaurant")</h4>
                            <h2>@_menuLocalizer.GetValue("Menu")</h2>
                        </div>
                        <ul>
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    <a href="?categoryId=@category.Id">@category.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="menu-list-right">
                        <ul class="products-list">
                            @foreach (var product in Model.Products)
                            {
                                count++;
                                <li class="products-block">
                                    <a asp-action="Details" asp-controller="Shop" asp-route-id="@product.Id" class="product-link">
                                        <img class="img-responsive" src="@product.MainImagePath" alt="">
                                        <div class="info-wrapper">
                                            <div class="btn-add-to-cart">
                                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" class="btn cart-btn"> Add to cart</a>
                                            </div>
                                            <h2 class="product-title">@product.Name</h2>
                                            <span class="price">$@product.Price</span>
                                        </div>
                                    </a>
                                </li>
                                if (count==9)
                                {
                                    break;
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Testimonial">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-centered">
                    <div class="testimonial-slider">
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="slider-item">
                                <div class="section-title">
                                    <h2>
                                        @_menuLocalizer.GetValue("Clients")
                                    </h2>
                                    <h3>@comment.AppUser.Username</h3>
                                </div>
                                <p>
                                    @comment.Text
                                </p>
                                <div class="text-center testi-icon">“</div>
                                <h4>@comment.CreatedAt</h4>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Reservation">
        <div class="row">
            <!-- <div class="col-sm-12 col-md-12 col-lg-12"> -->
            <div class="reservation-block">
                <div class="reserv-overlay"></div>
                <div class="image-block">
                    <div class="reserv-img">
                    </div>
                </div>
                <div class="detail-block">
                    <h3 class="white">
                        @_menuLocalizer.GetValue("Reservation")
                    </h3>
                    <p class="white">
                        49 Featherstone Street LONDON EC1Y 8SY UNITED KINGDOM <br>+4 1800 555 1234 <br><a class="white" href="#">bookatable@restaurant.com</a>
                    </p>
                    <a asp-controller="Reservation" asp-action="ReserveTable" class="btn btn-secondary">@_menuLocalizer.GetValue("Online")</a>
                </div>
            </div>
            <!-- </div> -->

        </div>
    </section>

</main>



