@model List<OrderGetDto>
@inject OrderLocalizer _localizer

<main class="order">
    <section id="News-banner">
        <div class="banner-part">
            <div class="banner-content">
                <h3>Danny's</h3>
                <h1>@_localizer.GetValue("Orders")</h1>
                <h3>Restaurant</h3>
            </div>
            <div class="overlay"></div>
        </div>
    </section>
    <div class="content">
        <div class="container">
            @if (!Model.Any())
            {
                <p>@_localizer.GetValue("NoOrdersFound")</p>
            }
            else
            {
                <div class="accordion" id="accordionExample">
                    @foreach (var order in Model)
                    {
                        <div class="accordion-item">
                            <div class="accordion-header" id="heading@order.Id">
                                <div class="accordion-button collapsed"
                                     type="button"
                                     data-bs-toggle="collapse"
                                     data-bs-target="#collapse@order.Id"
                                     aria-expanded="false"
                                     aria-controls="collapse@order.Id">
                                    <p>@_localizer.GetValue("OrderNo"): @order.Id</p>
                                    <p>@_localizer.GetValue("OrderedTime"): @order.CreatedAt</p>
                                    <p>@_localizer.GetValue("OrderItemsCount"): @order.OrderItems.Count</p>
                                </div>
                            </div>
                            <div id="collapse@order.Id" class="accordion-collapse collapse" aria-labelledby="heading@order.Id">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>@_localizer.GetValue("ProductName")</th>
                                                    <th>@_localizer.GetValue("Count")</th>
                                                    <th>@_localizer.GetValue("Price")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in order.OrderItems)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.Product.Name</td>
                                                        <td>@item.Count</td>
                                                        <td>₼@item.TotalPrice</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</main>
