@using Restaurant.BLL.Dtos.ProductDtos
@model List<ProductGetDto>

<ul class="products-list">
    @foreach (var product in Model)
    {
        <li class="products-block">
            <a asp-action="Details" asp-controller="Shop" asp-route-id="@product.Id" class="product-link">
                <img class="img-responsive" src="@product.MainImagePath" alt="@product.Name">
                <div class="info-wrapper">
                    <div class="btn-add-to-cart">
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" class="btn cart-btn"> Add to cart</a>
                    </div>
                    <h2 class="product-title">@product.Name</h2>
                    <span class="price">$@product.Price</span>
                </div>
            </a>
        </li>
    }
</ul>
