<main class="shop">
    <!-- Banner Start -->
    <section id="News-banner">
        <div class="banner-part">
            <div class="banner-content">
                <h3>Restaurant</h3>
                <h1>Shop</h1>
                <p class="yellow">Danny's</p>
            </div>
            <div class="overlay"></div>
        </div>
    </section>
    <!-- Banner End -->


    <div class="content ">
        <div class="container">
            <div class="full-shop-header">
                <h2>Shop</h2>
                <div class="filter-section">
                    <p>SHOWING 1–11 OF 14 RESULTS</p>
                    <div class="right-filter">
                        <form action="">
                            <select class="form-control">
                                <option>Default sorting</option>
                                <option>Sort by popularity</option>
                                <option>Sort by average rating </option>
                                <option>Sort by price: low to high</option>
                                <option>Sort by price: high to low </option>

                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="menu-list">
                <div class="menu-list-right">
                    <ul class="products-list">
                        @foreach (var product in Model.Products)
                        {
                            <li class="products-block">
                                <a asp-action="Details" asp-controller="Shop" asp-route-id="@product.Id" class="product-link">
                                    <img class="img-responsive" src="@product.MainImagePath" alt="@product.Name">
                                    <div class="info-wrapper">
                                        <div class="btn-add-to-cart">
                                            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id"> Add to cart</a>
                                        </div>
                                        <h2 class="product-title">@product.Name</h2>
                                        <span class="price">$@product.Price</span>
                                    </div>
                                </a>
                            </li>
                        }
                        <li class="products-block fancy-pag visible-lg visible-md">
                            <div class="fancy-inner-block">
                                <div class="pag-arrows">
                                    <a href="">
                                        <h2>NEXT</h2>

                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>



    </div>
</main>
