@model ShopDto
@inject ShopLocalizer _localizer
<main class="shop">
    <!-- Banner Start -->
    <section id="News-banner">
        <div class="banner-part">
            <div class="banner-content">
                <h3>@_localizer.GetValue("Restaurant")</h3>
                <h1>@_localizer.GetValue("Shop")</h1>
                <p class="yellow">@_localizer.GetValue("Master Yaver's")</p>
            </div>
            <div class="overlay"></div>
        </div>
    </section>
    <!-- Banner End -->


    <div class="content ">
        <div class="container">
            <div class="full-shop-header">
                <h2>@_localizer.GetValue("Shop")</h2>
                <div class="filter-section">
@*                     <p>SHOWING 1–11 OF 14 RESULTS</p>
 *@                    <div class="right-filter">
                        <form method="get" action="@Url.Action("Index", "Shop")">
                            <select name="sortOrder" class="form-control" onchange="this.form.submit()">
                                <option value="Default">@_localizer.GetValue("Default Sorting")</option>
                                <option value="PriceLowToHigh">@_localizer.GetValue("Sort by Price: Low to High")</option>
                                <option value="PriceHighToLow">@_localizer.GetValue("Sort by Price: High to Low")</option>
                            </select>
                        </form> 
                    </div>
                </div>
            </div>
            <div class="menu-list">
                <div class="menu-list-right">
                    <ul class="products-list">
                        @foreach (var product in Model.Products)
                        {
                            <li class="products-block">
                                <a asp-action="Details" asp-controller="Shop" asp-route-id="@product.Id" class="product-link">
                                    <img class="img-responsive" src="@product.MainImagePath" alt="@product.Name">
                                    <div class="info-wrapper">
                                        <div class="btn-add-to-cart">
                                            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id"> @_localizer.GetValue("Add to Cart")</a>
                                        </div>
                                        <h2 class="product-title">@product.Name</h2>
                                        <span class="price">$@product.Price</span>
                                    </div>
                                </a>
                            </li>
                        }
                        <li class="products-block fancy-pag visible-lg visible-md">
                            <div class="fancy-inner-block">
                                <div class="pag-arrows">
                                    <a href="">
                                        <h2>@_localizer.GetValue("Next")</h2>

                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>



    </div>
</main>
